@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "swiper/css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

:root {
  --dark-blue: #252b42;
  --sky-blue: #23a6f0;
  --light-sky-blue: #b2e3ff;
  --red: #e74040;
  --light-pink: #ffcdc1;
  --light-gray: #737373;
  --yellow: #f3cd03;
  --green: #2dc071;
  --light-green: #b9eaa8;
}

body {
  font-family: "Montserrat", serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/** Start Header Section */
header {
  background-color: var(--dark-blue);
}

header nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  height: 100px;
  padding: 0 2em;
  align-items: center;
}

header nav ul {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

header nav .Mobile-menu .dropdown-menu {
  background-color: hsla(204, 87%, 54%, 0.5); /* 50% opacity */
  display: block;
}

header nav h2 {
  font-size: 24px;
  color: white;
  font-weight: 600;
}

header nav ul li a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.5s ease;
}

header nav ul li a:hover {
  color: var(--red);
}

.LoginBtn {
  background: transparent;
  color: white;
  padding: 10px;
  border: none;
  width: 100px;
  font-family: "Montserrat", serif;
  transition: all 0.3s ease;
}

.LoginBtn:hover {
  transform: scale(1.2);
}

.JoinBtn {
  border-radius: 8px;
  align-items: center;
  font-family: "Montserrat", serif;
  color: white;
  padding: 10px;
  border: none;
  font-weight: 600;
  width: 100px;
  background-color: var(--sky-blue);
  transition: all 0.3s ease;
}

.JoinBtn svg {
  margin-left: 2px;
  font-size: 14px;
  vertical-align: middle;
}

.JoinBtn:hover {
  transform: scale(1.2);
}

nav .menu-icon {
  font-size: 28px;
  color: white;
  margin-left: auto; /* Pushes the icon to the right */
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 30px;
  background-color: rgba(255, 0, 0, 0.2);
  width: 220px !important;
  height: 200px;
  z-index: 100;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.dropdown-menu li {
  width: 100% !important;
  background-color: var(--dark-blue);
  margin-top: 10px;
  font-size: 30px;
  display: flex;
  padding: 7px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.dropdown-menu.show {
  display: block;
}

/** Media queery for Header */

@media (max-width: 800px) {
  header nav {
    height: 70px;
  }
  header nav div:first-of-type {
    margin-left: -50px;
  }
}

/** End Header Section */

/** Start Main Section */

/** Start Home Section */

.home {
  padding-top: 100px;
  background-color: var(--dark-blue);
  min-height: calc(100vh - 100px);
}

.home div h4 {
  color: var(--red);
  text-align: center;
  font-weight: bold;
}

.home div h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 50px;
  color: white;
  word-wrap: normal;
  width: 500px;
  margin: auto;
  line-height: 50px;
}

.home div p {
  padding-top: 10px;
  color: white;
  width: 500px;
  text-align: center;
  margin: auto;
  padding: 30px 0;
}

.home div .HomeBtnSection {
  max-width: 350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.home div .HomeBtnSection button {
  margin: auto;
  padding: 10px;
  min-width: 160px;
  min-height: 40px;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease;
  border: var(--red) 1px solid;
  color: var(--red);
  position: relative;
  background-color: transparent;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
}

.home div .HomeBtnSection button::before {
  content: "";
  background-color: white;
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  top: 0;
  border-radius: 4px;
  transition: all 0.5s ease;
  z-index: -1;
}

.home div .HomeBtnSection button:hover::before {
  width: 100%;
}

@media (max-width: 503px) {
  .home div h1 {
    width: 300px;
    font-size: 35px;
  }
  .home div p {
    max-width: 370px !important;
    width: fit-content !important;
  }
  .JoinBtn {
    padding: 7px;
    width: 90px;
  }
  header nav h2 {
    font-size: 20px;
  }
  header nav {
    padding: 0 5px;
  }
  header nav div:first-of-type {
    width: 200px;
    display: block;
    justify-content: center;
    margin-left: 0;
  }
  .LoginBtn {
    width: 70px;
    padding: 5px;
  }
  .dropdown-menu {
    right: 10px;
  }
}

.home .CardDiv {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding-bottom: 10px;
}

.home .CardDiv .card {
  flex: 1;
  width: 350px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  margin-top: 50px;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    padding 0.3s ease-in-out;
}

@media (max-width: 1141px) {
  .home .CardDiv .card {
    width: 330px;
    height: 180px;
    padding: 20px;
  }
}

@media (max-width: 1051px) {
  .home .CardDiv .card {
    width: 300px;
    height: 180px;
    padding: 20px;
  }
  .home .CardDiv .card p {
    font-size: 13px !important;
    max-width: 280px !important;
  }
}

@media (max-width: 971px) {
  .home .CardDiv .card {
    width: 250px;
    height: 180px;
    padding: 20px;
  }
  .home .CardDiv .card p {
    font-size: 12px !important;
    max-width: 230px !important;
  }
  .home .CardDiv .card h3 {
    font-size: 15px !important;
  }
  .home .CardDiv .card span .LogoCard {
    width: 20px;
    height: 20px;
  }
  .home .CardDiv .card hr {
    max-width: 35px;
  }
}

@media (max-width: 809px) {
  .home {
    height: calc(100vh - 70px);
  }
  .home .CardDiv .card {
    width: 220px;
    height: 160px;
    padding: 17px;
  }
  .home .CardDiv .card p {
    font-size: 11px !important;
    max-width: 200px !important;
  }
  .home .CardDiv .card h3 {
    font-size: 13px !important;
  }
  .home .CardDiv .card span .LogoCard {
    width: 15px;
    height: 15px;
  }
  .home .CardDiv .card hr {
    max-width: 35px;
  }
}

@media (max-width: 709px) {
  .home .CardDiv .card {
    width: 180px;
    height: 160px;
    padding: 17px;
  }
  .home .CardDiv .card p {
    font-size: 10px !important;
    max-width: 170px !important;
  }
  .home .CardDiv .card h3 {
    font-size: 13px !important;
  }
  .home .CardDiv .card span .LogoCard {
    width: 15px;
    height: 15px;
  }
  .home .CardDiv .card hr {
    max-width: 35px;
  }
}

@media (max-width: 599px) {
  .home .CardDiv .card {
    width: 150px;
    height: 140px;
    padding: 15px;
  }
  .home .CardDiv .card p {
    display: none;
  }
  .home .CardDiv .card h3 {
    font-size: 13px !important;
    width: 100% !important;
    text-align: center;
  }
  .home .CardDiv .card span {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .home .CardDiv .card span .LogoCard {
    width: 15px;
    height: 15px;
  }
  .home .CardDiv .card hr {
    max-width: 35px;
    margin: auto;
  }
}

@media (max-width: 501px) {
  .home .CardDiv .card {
    width: 110px;
    height: 140px;
    padding: 15px;
  }
  .home .CardDiv .card p {
    display: none;
  }
  .home .CardDiv .card h3 {
    font-size: 13px !important;
    width: 100% !important;
    text-align: center;
  }
  .home .CardDiv .card span {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .home .CardDiv .card span .LogoCard {
    width: 15px;
    height: 15px;
  }
  .home .CardDiv .card hr {
    max-width: 35px;
    margin: auto;
  }
}

@media (max-width: 371px) {
  .home .CardDiv .card {
    width: 90px;
    height: 140px;
    padding: 15px;
  }
  .home .CardDiv .card p {
    display: none;
  }
  .home .CardDiv .card h3 {
    font-size: 13px !important;
    width: 100% !important;
    text-align: center;
  }
  .home .CardDiv .card span {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .home .CardDiv .card span .LogoCard {
    width: 15px;
    height: 15px;
  }
  .home .CardDiv .card hr {
    max-width: 35px;
    margin: auto;
  }
}

.home .CardDiv .card span {
  padding: 10px;
  border-radius: 10px;
}

.home .CardDiv .card span .LogoCard {
  vertical-align: middle;
}

.home .CardDiv .card h3 {
  font-size: 17px;
  margin-top: 20px;
}

.home .CardDiv .card h3 {
  font-size: 17px;
  margin-top: 20px;
  color: var(--dark-blue);
}

.home .CardDiv .card hr {
  margin-top: 10px;
  max-width: 45px;
  min-height: 2px;
  border: none;
  background-color: #e74040;
}

.home .CardDiv .card p {
  margin-top: -10px;
  color: black;
  font-size: 14px;
  text-align: start;
  max-width: 330px;
  transition: all 0.3 ease-in-out;
}
/** End Home Section */

/** Start Course Section */
.CoursesDiv {
  height: 125vh;
  max-width: 1100px;
  margin: auto;
  padding: 0px 2rem;
  margin-top: 100px;
}

@media (max-width: 878px) {
  .CoursesDiv {
    height: 125vh !important;
  }
}

@media (max-width: 835px) {
  .CoursesDiv {
    height: 135vh !important;
  }
}

@media (max-width: 743px) {
  .CoursesDiv {
    height: 120vh !important;
  }
}

@media (max-width: 623px) {
  .CoursesDiv {
    height: 120vh !important;
  }
}

@media (max-width: 490px) {
  .CoursesDiv {
    height: 125vh !important;
  }
}

@media (max-width: 430px) {
  .CoursesDiv {
    height: 135vh !important;
  }
}

@media (max-width: 350px) {
  .CoursesDiv {
    height: 145vh !important;
  }
}

.CoursesDiv h6 {
  color: var(--sky-blue);
  font-size: 14px;
}

.CoursesDiv h1 {
  color: var(--dark-blue);
  padding: 10px 0;
}

.CoursesDiv .CoursesContainer {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  margin-top: 80px;
  gap: 25px;
  transition: all 0.3s ease-in-out;
}

.swiper {
  padding: 30px;
  max-width: 350px;
  height: 700px !important ;
}

.CourseCard {
  height: 600px;
  position: relative;
  color: var(--light-gray);
  transition: all 0.5s ease;
  overflow: hidden;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.CoursesDiv .CourseCard .imgSection {
  transition: all 0.5s ease;
}

.CoursesDiv .CourseCard .imgSection span {
  background-color: var(--red);
  color: white;
  padding: 3px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.CoursesDiv .CourseCard img {
  width: 320px;
  height: 250px;
  object-fit: cover;
}

.CoursesDiv .CourseCard .CourseRate {
  display: flex;
  font-size: 13px;
  background-color: var(--dark-blue);
  min-width: 60px;
  color: white;
  border-radius: 20px;
  padding: 7px;
  justify-content: center;
}

.CoursesDiv .CourseCard .CourseRate svg {
  fill: yellow;
  margin-right: 2px;
}

.CourseCard .CourseDetails {
  opacity: 1;
  transform: translateY(10px);
  padding: 10px;
  transition: all 0.5s ease;
}

.CourseCard .CourseDetails h4 {
  padding: 3px 0;
  color: var(--dark-blue);
}

.CoursesDiv .CourseDetails .CourseDetailsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CoursesDiv .CourseDetails .CourseDetailsHeader h5 {
  color: var(--sky-blue);
  font-weight: bold;
}

.CourseCard .CourseDetails p {
  font-size: 14px;
  padding: 10px 0;
  color: var(--light-gray);
  min-height: 110px;
}

.CourseInfo {
  display: block;
  transform: translateY(10px);
  color: var(--dark-blue);
  padding: 10px;
  margin-top: -15px;
  transition: all 0.5s ease;
}

.CourseInfo .SaleCourse {
  font-size: 14px;
}

.CourseInfo .CoursePrice {
  display: flex;
  max-width: 90px;
  justify-content: space-between;
  padding: 7px 0;
}

.CourseInfo .CoursePrice .priceBefore {
  text-decoration: line-through;
}

.CourseInfo .CoursePrice .priceAfter {
  color: var(--green);
}

.CourseDuration {
  display: flex;
  justify-content: space-between;
  max-width: 220px;
  margin-left: -2px;
}

.CourseDuration h5 {
  color: var(--light-gray);
}

.CourseTime {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.CourseTime svg {
  margin-right: 2px;
  color: var(--sky-blue);
}

.CourseLessons {
  display: flex;
  align-items: center;
}

.CourseLessons svg {
  color: var(--sky-blue);
  margin-right: 4px;
}

.CourseCard button {
  color: var(--sky-blue);
  margin-top: 10px;
  padding: 10px;
  width: 120px;
  display: flex;
  align-items: center;
  border: var(--sky-blue) solid 2px;
  justify-content: space-between;
  border-radius: 20px;
  transition: all 0.4s ease;
}

.CourseCard button:hover {
  transform: scale(1.1);
}

.CoursesContainer:has(.CourseCard:hover) .CourseCard:not(:hover) {
  filter: blur(4px);
}

@media (max-width: 1100px) {
  .CoursesContainer {
    grid-template-columns: repeat(3, 300px) 0 !important;
  }
  .CourseCard img {
    width: 300px;
  }
}

@media (max-width: 1000px) {
  .CoursesContainer {
    grid-template-columns: repeat(3, 270px) 0 !important;
  }
  .CourseCard img {
    width: 270px !important;
  }
}

@media (max-width: 893px) {
  .CoursesContainer {
    grid-template-columns: repeat(3, 250px) !important;
  }
  .CourseCard img {
    width: 250px !important;
  }
}

@media (max-width: 837px) {
  .CoursesContainer {
    grid-template-columns: repeat(3, 220px) !important;
  }
  .CourseCard img {
    width: 220px !important;
  }
  .CourseCard {
    height: 650px;
  }
  .CoursesDiv {
    height: 110vh;
  }
}

@media (max-width: 837px) {
  .CourseCard img {
    width: 100% !important;
  }
}

@media (max-width: 837px) {
  .CourseCard {
    margin-top: 20px;
  }
}

@media (max-width: 745px) {
  .CourseCard {
    margin-top: 20px;
  }
}

@media (max-width: 837px) {
  .CourseCard {
    height: 650px;
  }
}

/** End Course Section */

/** Start Review Section */
.reviewsSection {
  /* background-color: white; */
  /* height: 20vh; */
  max-width: 1100px;
  margin: auto;
  padding: 0px 2rem;
  /* margin-top: 100px; */
  padding-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.reviewsSection h6 {
  color: var(--sky-blue);
  font-size: 14px;
}

.reviewsSection h1 {
  color: var(--dark-blue);
  padding: 10px 0;
}

.reviewsSection .ReviewContainer {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  margin-top: 80px;
  gap: 25px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1050px) {
  .reviewsSection .ReviewContainer {
    grid-template-columns: repeat(3, 300px);
  }
}

@media (max-width: 950px) {
  .reviewsSection .ReviewContainer {
    grid-template-columns: repeat(3, 250px);
  }
}

@media (max-width: 875px) {
  .reviewsSection {
    padding-top: 50px;
  }
}

@media (max-width: 835px) {
  .reviewsSection .ReviewContainer {
    grid-template-columns: repeat(3, 220px);
  }
}

@media (max-width: 745px) {
  .ReviewContainer {
    display: flex !important;
    height: 200px;
  }
  .swiperReview {
    height: 400px !important;
  }
  .reviewsSection {
    height: 600px;
  }
}

@media (max-width: 430px) {
  /* .reviewsSection {
    margin-top: 110px;
  } */
  .ReviewContainer {
    display: flex !important;
    height: 250px;
  }
  .swiperReview {
    height: 250px !important;
  }
  .reviewsSection {
    height: 650px;
  }
}

.ReviewContainer div img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.swiperRev {
  height: 100px;
}

.ReviewContainer div {
  max-width: 250px;
  text-align: center;
}

.ReviewContainer div p {
  font-size: 15px;
  color: rgb(77, 77, 77);
  padding: 15px 0;
}

.instructor {
  display: flex;
  justify-content: center;
  margin: auto;
}

.instructor .InstructorInfo {
  text-align: start;
  margin-left: 10px;
}

.instructor .InstructorInfo h4:first-of-type {
  font-size: 14px;
  font-weight: 600;
  color: var(--sky-blue);
}

.instructor .InstructorInfo h4:last-of-type {
  font-size: 16px;
  font-weight: 800;
  color: black;
}
/** End Review Section */

/** Start Join Section */
.JoinSection {
  height: 40vh;
  background-color: var(--dark-blue);
  text-align: center;
  padding-top: 40px;
  transition: all 0.3 ease-in-out;
}

.JoinSection h6 {
  color: var(--sky-blue);
  font-size: 14px;
  font-weight: bold;
}

.JoinSection h1 {
  color: white;
  margin-top: 10px;
  font-size: 38px;
}

.JoinSection p {
  color: white;
  max-width: 600px;
  margin: auto;
  padding: 20px 0;
}

.JoinSection input {
  width: 500px;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
  transition: all 0.3 ease-in-out;
}

@media (max-width: 600px) {
  .JoinSection input {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .JoinSection input {
    width: 200px;
  }
  .JoinSection {
    height: 45vh;
  }
}

.JoinSection button {
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
  outline: none;
  border: none;
  background-color: var(--sky-blue);
  color: white;
  font-weight: bold;
}
/** End Join Section */
/** End Main Section */

/** Start Footer */

footer {
  max-width: 1100px;
  margin: auto;
}

footer .FSectoins {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

footer .FSectoins .Touch h2 {
  font-size: 20px;
  font-weight: bold;
}

.FSectoins .Touch h5 {
  color: rgb(129, 129, 129);
  padding: 10px 0;
  max-width: 180px;
}

.Social {
  display: flex;
  justify-content: space-between;
  max-width: 100px;
  padding: 10px 0;
  color: var(--sky-blue);
}

footer .FSectoins .CompanyInfo h2 {
  font-size: 20px;
  font-weight: bold;
}

.FSectoins .CompanyInfo ul li a {
  color: rgb(129, 129, 129);
  padding: 10px 0;
  max-width: 180px;
  font-weight: bold;
  font-size: 13px;
}

.FSectoins .Features ul li a:hover {
  color: var(--dark-blue);
}

.FSectoins .CompanyInfo ul li a:hover {
  color: var(--dark-blue);
}

.FSectoins .CompanyInfo ul {
  margin-top: 10px;
}

.FSectoins .CompanyInfo ul li {
  padding: 3px 0;
}

footer .FSectoins .Features h2 {
  font-size: 20px;
  font-weight: bold;
}

.FSectoins .Features ul li a {
  color: rgb(129, 129, 129);
  padding: 10px 0;
  max-width: 180px;
  font-weight: bold;
  font-size: 13px;
}

.FSectoins .Features ul {
  margin-top: 10px;
}

.FSectoins .Features ul li {
  padding: 3px 0;
}

footer p {
  text-align: center;
  padding: 15px 0;
  color: rgb(99, 99, 99);
}

footer p span {
  color: var(--sky-blue);
  font-weight: bold;
}

@media (max-width: 1100px) {
  .FSectoins {
    padding: 50px 5px !important;
  }
}

@media (max-width: 630px) {
  .Touch h2,
  .CompanyInfo h2,
  .Features h2 {
    font-size: 17px !important;
  }
  .Touch h5 {
    font-size: 13px !important;
  }
  .CompanyInfo ul li a,
  .Features ul li a {
    font-size: 11px !important;
  }
}

@media (max-width: 550px) {
  .FSectoins {
    flex-direction: column;
    justify-content: center !important;
  }
  .FSectoins .CompanyInfo , .Features , .CompanyInfo {
    margin-top: 15px;
  }
  .FSectoins {
    padding : 20px 10px !important;  
    padding-top: 30px !important;
  }
}

/** End Footer */
